<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Client
        <small>Main Page</small>
      </h1>

      <breadcrumb></breadcrumb>
    </div>
  </div>

  <!-- Ordering button -->
  <div class="row">
    <div class="col-lg-12">
      <p><button type="button" class="btn btn-default btn-lg btn-block">Fazer Encomenda</button></p>
    </div>
  </div>

  <!-- History Table -->
  <table class="table table-striped table-hover table-condensed">
    <tr>
      <th>Código Artigo</th>
      <th>Descrição</th>
      <th>Data da Encomenda</th>
      <th>Data da Recepção</th>
      <th>Estado</th>
    </tr>
    <tr>
      <td>A1</td>
      <td>Caneta</td>
      <td>12/03/2014</td>
      <td>17/03/2014</td>
      <td>Pago</td>
    </tr>
    <tr>
      <td>A1</td>
      <td>Caneta</td>
      <td>12/03/2014</td>
      <td>17/03/2014</td>
      <td>Pedido</td>
    </tr>
    <tr>
      <td>A1</td>
      <td>Caneta</td>
      <td>12/03/2014</td>
      <td>17/03/2014</td>
      <td>Recebido</td>
    </tr>
    <tr>
      <td>A1</td>
      <td>Caneta</td>
      <td>12/03/2014</td>
      <td>17/03/2014</td>
      <td>Em Discussão</td>
    </tr>
    <tr>
      <td>A1</td>
      <td>Caneta</td>
      <td>12/03/2014</td>
      <td>17/03/2014</td>
      <td>Pago</td>
    </tr>
  </table>
</div></div>

</div><!-- /.container-fluid -->
