<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Inter-Company Management
                <small>Primavera Interface</small>
            </h1>

            <breadcrumb></breadcrumb>
        </div>
    </div>
    <!-- /.row -->
    <div class="breadcrumb">
    <h4>
            The goal of this project was the development of a web application that allowed users to manage the shipment of products between various companies belonging to a “master company” through a user-friendly interface. This was achieved accessing the Primavera Database through a REST service based on a Primavera library also developed by the students.
        </h4>
    </div>
    <div class="breadcrumb">
        <h5>
            The application was developed for a Business to Business context, meaning the end user of the application would be a company collaborator instead of a client.
            The ordering and shipment was to be managed by a superuser that would have access to the product catalogue of all the companies involved, the history of transactions and the ability to order, ship and conclude transactions.
            The user would access the app through a login page where he would submit a username and password to access the platform.
        </h5>
    </div>
</div>
        <!-- /.container-fluid -->