<div id="wrapper">
	<div ng-include src="'views/navigation.html'"></div>
	<div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Landing Page
                        <small>Subheading</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="index.html">Main</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Landing Page
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-12
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-6
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-6
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-4 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-4
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-4
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-4
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-3
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-3
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-3
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-3
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-2 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-2
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-2
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-2
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-2
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-2
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-2
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-1 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-1
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-1
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-1
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-1
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-1
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-1
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-1
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-1
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-1
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-1
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-1
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-1
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-8 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-8
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-4
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-3
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-6
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                .col-lg-3
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->
</div>