<div class="modal-header">
  <h3 class="modal-title"><i class="fa fa-check-square-o"></i> <strong>Nova Encomenda</strong></h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Supplier</h3>

          <!--<select class="form-control" ng-model="selectedSupplier">
            <option hidden value="">Escolher Fornecedor</option>
            <option value="undefined">Nenhum</option>
            <option ng-repeat="sup in suppliers" value="{{sup}}">{{sup.name}}</option>
          </select>-->

          <select class="form-control" ng-model="selectedSupplier" ng-options="sup as sup.name for sup in suppliers"
                  ng-change="setSupplier(sup)">
            <option hidden value="">Escolher Fornecedor</option>
          </select>
        </div>

        <br>
      </div>
    </div>

    <div class="col-lg-4">
      <img
        src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ1LjUiIHk9IjcwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+"
        alt="..." class="img-thumbnail">
    </div>
  </div>

  <!-- Product Table -->
  <div class="row">
    <div class="col-lg-12">
      <h3>Products</h3>
      <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr class="align">
          <th class="col-lg-2">Código Artigo</th>
          <th class="col-lg-4">Descrição</th>
          <th class="col-lg-2">Quantidade</th>
          <th class="col-lg-2">PVP</th>
        </tr>
        </thead>
      </table>
      <div class="bodycontainer scrollable">
        <table class="table table-hover table-striped table-condensed table-scrollable">
          <tbody>
          <tr ng-repeat="product in orderList" class="align">
            <td class="col-lg-2">{{product.code}}</td>
            <td class="col-lg-4">{{product.desc}}</td>
            <td class="col-lg-2">{{product.quantity}}</td>
            <td class="col-lg-2">{{product.pvp}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr class="align">
          <th class="col-lg-2"></th>
          <th class="col-lg-4"></th>
          <th class="col-lg-2">Total:</th>
          <th class="col-lg-2">{{orderList.total}}</th>
        </tr>
        </thead>
      </table>

      <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr class="align">
          <td class="col-lg-2">
            <select class="form-control" ng-model="addLineObj"
                    ng-options="product as product.CodArtigo for product in products"></select>
          </td>
          <td class="col-lg-4">
            <p class="form-control">{{addLineObj.DescArtigo}}</p>
          </td>
          <td class="col-lg-1">
            <input type="number" class="form-control number" name="number">
          </td>
          <td class="col-lg-1">Por Definir</td>
          <td class="col-lg-1">
            <button type="button" class="btn btn-success" ng-click="addLine()" ng-class="{disabled: !addLineObj}">
              Adicionar
            </button>
          </td>
        </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="clearfix"></div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="submitOrder()">Submeter</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
</div>
