<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Empresas
                <small>Relação Entre Empresas</small>
            </h1>

            <breadcrumb></breadcrumb>
        </div>
    </div>
    <!-- /.row -->

    <div class="form-group">
      <label for="sel1">Selecione Fornecedor:</label>
      <input list="suppliers" class="form-control" ng-change="selectedSupplier()" ng-model="supplier">
      <datalist id="suppliers">
       <option ng-repeat="company in companies">{{company.name}}</option>
      </datalist>
    </div>

    <div class="form-group">
      <label for="sel1">Selecione Cliente:</label>
      <input list="clients" class="form-control" ng-change="selectedClient()" ng-model="client">
      <datalist id="clients">
       <option ng-repeat="company in companies">{{company.name}}</option>
      </datalist>
    </div>




    <button class="btn btn-success btn-large" ng-disabled="alreadyConnected() || addedRelation" ng-click="submit()"><i class="icon-white icon-ok-sign"></i> Confirm</button>

    <div class="alert alert-success" role="alert" ng-show="relationSuccess != ''">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{relationSuccess}}
    </div> <!-- /.alert-danger -->

    <div class="alert alert-warning" role="alert" ng-show="relationError != ''">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{relationError}}
    </div> <!-- /.alert-danger -->
</div>
