<div class="container-fluid">

 <!-- Page Heading -->
 <div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Empresas
      <small>Relação Entre Empresas</small>
    </h1>

    <breadcrumb></breadcrumb>
  </div>
</div>
<!-- /.row -->



<div class="form-group">
  <label for="sel1">Select Company:</label>
  <input list="companies" name="company" class="form-control" ng-change="updateBaseCompany()"  ng-model="baseCompany">
  <datalist id="companies">
   <option ng-repeat="company in companies" value="{{company.id}}">{{company.id}} - {{company.name}}</option>
 </datalist>
</div>

<div class="form-group">
  <label for="sel1">Select Item:</label>
  <input list="products" name="product" class="form-control"  ng-change="updateSelectedProduct()"  ng-model="product">
  <datalist id="products">
    <option ng-repeat="product in products" value="{{product.id}}">{{product.id}} - {{product.description}}</option>
  </datalist>
</div>

<div class="col-lg-6"  ng-repeat="company in missingCompanies">
<input id="cb_{{company.id}}" type="checkbox" name="{{company.id}}" ng-change="updateCompany({{company.id}})">
  <p class="form-control">{{company.id}} - {{company.name}}</p>
  <br>
</div><!-- /.col-lg-6 -->

<div class="alert alert-danger" role="alert" ng-show="syncErr != ''">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{syncErr}}
</div> <!-- /.alert-danger -->

<div class="alert alert-danger" role="alert" ng-show="syncSucc != ''">
    <span class="glyphicon glyphicon-ok-2" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{syncSucc}}
</div> <!-- /.alert-danger -->

</div>