<div class="container-fluid">

	    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Empresas
                <small>Relação Entre Empresas</small>
            </h1>

            <breadcrumb></breadcrumb>
        </div>
    </div>
    <!-- /.row -->



<div class="form-group">
      <label for="sel1">Select Company:</label>
      <input list="companies" name="company" class="form-control">
      <datalist id="companies">
       <option ng-repeat="company in companies">{{company.name}}</option>
      </datalist>
</div>


<div class="form-group">
      <label for="sel1">Select Item:</label>
     <input list="items" name="item" class="form-control">
      <datalist id="items">
       <option ng-repeat="item in items">{{item.id}} - {{item.description}}</option>
      </datalist>
</div>

 <div class="col-lg-6">
    <div ng-repeat="company in companies" class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
      <p class="form-control">{{company.name}}</p>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

</div>